


.section-3{
    background-color: rgb(239, 235, 235);
    padding: 50px ;
}
.main-1{
    padding-top: 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.imh1{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.iam b{
    font-size: 70px;
}
.img-1{
    border-radius:40px ;
    width: 650px;
    height: 400px;
    box-shadow: 0 0 8px 1px rgb(59, 58, 58);

}
.iamimg{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.main-2{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
    

}.img-2{
    border-radius:40px ;
    width: 650px;
    height: 400px;
    box-shadow: 0 0 8px 1px rgb(59, 58, 58);

}
.iamimg-2{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.info{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.anchor-3{
    padding-top: 50px;
    color:  white
}
.tag-3{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}